.boxHeader{
    text-align: center;
        
    }

.box1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    width: 863.84px;
    height: 62.4px;
    background-color: rgb(238, 238, 238);
    text-align: center;
} 

.box2{
    
    margin-left: auto;
    margin-right: 2px;
    width: 319.18px;
    height: 76.4px;
    background-color: rgb(126, 229, 218);
    text-align: center;
    float: left;
}

.box3{
    
    
    margin-right: 2px;
    width: 172.76px;
    height: 76.4px;
    background-color: rgb(112, 204, 194);
    text-align: center;
    float: left;
}

.box4{
    margin-left: auto;
    margin-right: auto;
    width: 368.7px;
    height: 76.4px;
    background-color: rgb(98, 179, 170);
    text-align: center;
    float: left;
}

.allBox{
    margin-left: 328px;
    margin-right: auto;
}

.textBox2{
    width: 317.18px;
    height: 55.2px;
    margin: 8px 0 0;
}

.textBox3{
    width: 170.76px;
    height: 60.8px;
    margin: 8px 0 0;
    font-size: small;
}

.textBox4{
    width: 170.4px;
    height: 70.6px;
    
    font-size: small;
    margin-left: 100px;
    
}

.textFooter{
    margin-top: 15px;
    font-size: small;
    text-align: center;
    
}

.floatClear{
    clear: both;
}